.header_about{
   width:100%;
   margin-top: -150px;
   height:1000px;
   opacity:.9;
   background-image:url('images/brandenburg.jpg');
   background-size:cover;
   background-position:bottom;
   position: relative;
   display: grid;
  place-items: center;
  text-align: center;
}

.header_about h1 {
  position: absolute; /* change position to relative to position the text relative to the container */
  font-weight: 600;
  margin-top: -400px;
  color: white;
  font-family: 'Your Font', sans-serif; /* replace 'Your Font' with the name of the font you want to use */
  font-size: 100px;
  letter-spacing: 2px;
  animation: fade-in-down 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


@keyframes fade-in-down {
  from { opacity: 0; top: -100%; } /* start with opacity 0 and the text outside the header on the top */
  to { opacity: 1; top: 50%; } /* end with opacity 1 and the text centered in the header */
}




.containerabout{
   width:100%;
   margin-top: 0px;
  background: linear-gradient(to right, #000428, #004e92);

}
.containerabout h1{
   font-size: 30px;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  background: transparent;
  opacity: 0;
  transform: translateY(50%);
  will-change: transform, opacity;
  transition: transform 1.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.about.show {
  opacity: 1;
  transform: translateY(0%);
}


.about .left{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: white;
  font-size: 18px;
  
}
.about .right{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.about .right img{
    width: 100%;
  height: auto;
  margin-top: -14px;
  box-shadow: -.5em .5em 1em 0em #c0041c; /* Modified box shadow values */

  /*border-radius: 0% 0% 11% 21% / 10% 10% 0% 21%;*/
}



.about .left h1{
   text-align:center;
   color: white;
   margin:0 0 10px 0;
}
.about .left hr{
   width: -60%;
  border-top: 3px solid #c0041c;
  border-radius: 10px;
  border-bottom: none;
}
.about .left p{
   margin:15px auto;
   width:80%
}

@media only screen and (max-width: 1000px) {

.about .right img{
    width: 100%;
  height: auto;
  margin-top: 0px;
}


}

@media only screen and (max-width: 900px) {

.about .left{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: white;
  font-size: 15px;
  margin-top: 19px;
}


.containerabout h1{
   font-size: 30px;
}


}


@media only screen and (max-width: 1200px) {
  .about {
    display: block;
  }
  
  
  .about .left {
    order: 2;
  }
  .about .right {
    order: 1;
  }
  
  .containerabout{
   margin-top: -20px;

}
  
}



.containerabout2 {
   width: 100%;
   margin-top: 0px;
   background: linear-gradient(to right, #000428, #004e92);
}

.containerabout2 h1 {
   font-size: 30px;
}

.about2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  background: transparent;
  transform: translateX(-50%);
  opacity: 0;
  transition: transform 2.5s cubic-bezier(0.6, -0.05, 0.1, 0.99),
              opacity 2.5s cubic-bezier(0.6, -0.05, 0.1, 0.99);
}

.about2.show {
   transform: translateX(0);
  opacity: 1;
}

.about2 .left2 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about2 .right2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: white;
  font-size: 18px;
}

.about2 .left2 img {
  width: 100%;
  height: auto;
  margin-top: -14px;
  box-shadow: .5em .5em 1em 0em #c0041c; /* Modified box shadow values */

}

.about2 .right2 h1 {
  text-align: center;
  color: white;
  margin: 0 0 10px 0;
}

.about2 .right2 hr {
  width: -60%;
  border-top: 3px solid #c0041c;
  border-radius: 10px;
  border-bottom: none;
}

.about2 .right2 p {
  margin: 20px auto;
  width: 80%;
}

/* Updated media queries with new class names */
@media only screen and (max-width: 1000px) {
  .about2 .left2 img {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
}



@media only screen and (max-width: 900px) {
  .about2 .right2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    font-size: 15px;
  }
  .containerabout2 h1 {
    font-size: 30px;
  }
}

/* ... (previous CSS code) ... */

@media only screen and (max-width: 1200px) {
  .about2 {
    display: flex; /* Updated display to flex */
    flex-direction: column; /* Added flex-direction */
  }
  
  .about2 .left2 {
    order: 2; /* Updated order */
  }
  .about2 .right2 {
    order: 1; /* Updated order */
  }
  
  .containerabout2 {
    margin-top: -20px;
  }
}





.containerabout3 {
  width: 100%;
  margin-top: 0px;
  background: linear-gradient(to right, #000428, #004e92);
}

.containerabout3 h1 {
  font-size: 30px;
}

.about3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  background: transparent;
  opacity: 0;
  transform: translateX(50%); /* Updated transform property */
  transition: transform 2.5s cubic-bezier(0.6, -0.05, 0.1, 0.99),
              opacity 2.5s cubic-bezier(0.6, -0.05, 0.1, 0.99);
}

.about3.show {
  opacity: 1;
  transform: translateY(0%);
}

.about3 .left3 {
  grid-column: 1 / 2; /* Updated grid-column */
  grid-row: 1 / 2;
  color: white;
  font-size: 18px;
}

.about3 .right3 {
  grid-column: 2 / 3; /* Updated grid-column */
  grid-row: 1 / 2;
}

.about3 .right3 img {
  width: 100%;
  height: auto;
  margin-top: -14px;
  box-shadow: -.5em .5em 1em 0em #c0041c; /* Modified box shadow values */

}

.about3 .left3 h1 {
  text-align: center;
  color: white;
  margin: 0 0 10px 0;
}

.about3 .left3 hr {
  width: -60%;
  border-top: 3px solid #c0041c;
  border-radius: 10px;
  border-bottom: none;
}

.about3 .left3 p {
  margin: 18px auto;
  width: 80%;
}

/* Updated media queries with new class names */
@media only screen and (max-width: 1000px) {
  .about3 .right3 img {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 900px) {
  .about3 .left3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    font-size: 15px;
  }
  .containerabout3 h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .about3 {
    display: block;
  }
  
  .about3 .left3 {
    order: 2;
  }
  .about3 .right3 {
    order: 1;
  }
  
  .containerabout3 {
    margin-top: -20px;
  }
}



.containerabout4 {
  width: 100%;
  margin-top: 0px;
  background: linear-gradient(to right, #000428, #004e92);
}

.containerabout4 h1 {
  font-size: 30px;
}

.about4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  background: transparent;
  opacity: 0;
  transform: translateY(50%);
  transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.about4.show {
  opacity: 1;
  transform: translateY(0%);
}

.about4 .left4 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: white;
  font-size: 18px;
}

.about4 .right4 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about4 .right4 img {
  width: 100%;
  height: auto;
  margin-top: -14px;
    box-shadow: .5em .5em 1em 0em #c0041c; /* Modified box shadow values */

}

.about4 .left4 h1 {
  text-align: center;
  color: white;
  margin: 0 0 10px 0;
}

.about4 .left4 hr {
  width: -60%;
  border-top: 3px solid #c0041c;
  border-radius: 10px;
  border-bottom: none;
}

.about4 .left4 p {
  margin: 18px auto;
  width: 80%;
}

/* Updated media queries with new class names */
@media only screen and (max-width: 1000px) {
  .about4 .right4 img {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 900px) {
  .about4 .left4 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    font-size: 15px;
  }
  .containerabout4 h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .about4 {
    display: block;
  }
  
  .about4 .left4 {
    order: 1;
  }
  .about4 .right4 {
    order: 2;
  }
  
  .containerabout4 {
    margin-top: -20px;
  }
}






.containerabout5 {
  width: 100%;
  margin-top: 0px;
  background: linear-gradient(to right, #000428, #004e92);
}

.containerabout5 h1 {
  font-size: 30px;
}

.about5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  background: transparent;
  opacity: 0;
  transform: translateX(50%);
  transition: transform 2.2s cubic-bezier(0.23, 1, 0.32, 1),
              opacity 2.2s ease-in-out;
}

.about5.show {
  opacity: 1;
  transform: translateX(0%);
}

.about5 .left5 {
  grid-column: 1 / 2; /* Updated grid-column */
  grid-row: 1 / 2;
  color: white;
  font-size: 18px;
}

.about5 .right5 {
  grid-column: 2 / 3; /* Updated grid-column */
  grid-row: 1 / 2;
}

.about5 .right5 img {
  width: 100%;
  height: auto;
  margin-top: -14px;
  box-shadow: -.5em .5em 1em 0em #c0041c; /* Modified box shadow values */

}

.about5 .left5 h1 {
  text-align: center;
  color: white;
  margin: 0 0 10px 0;
}

.about5 .left5 hr {
  width: -60%;
  border-top: 3px solid #c0041c;
  border-radius: 10px;
  border-bottom: none;
}

.about5 .left5 p {
  margin: 18px auto;
  width: 80%;
}

/* Updated media queries with new class names */
@media only screen and (max-width: 1000px) {
  .about5 .right5 img {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 900px) {
  .about5 .left5 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    font-size: 15px;
  }
  .containerabout5 h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .about5 {
    display: block;
  }
  
  .about5 .left5 {
    order: 2;
  }
  .about5 .right5 {
    order: 1;
  }
  
  .containerabout5 {
    margin-top: -20px;
  }
}
